/*!
 * Our Skin
 */
/*.portal-style body, body.portal-style {
    background: #fff !important;
    font-family: Arial,sans-serif
}

.portal-style #logo img {
    width: 125px;
    height: auto;
    padding-left: 3px;
    margin-top: -3px
}

.portal-style #header {
    background-color: #0173C7;
    background-image: -moz-linear-gradient(top,#0173C7,#0173C7);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#0173C7),to(#0173C7));
    background-image: -webkit-linear-gradient(top,#0173C7,#0173C7);
    background-image: -o-linear-gradient(top,#0173C7,#0173C7);
    background-image: linear-gradient(to bottom,#0173C7,#0173C7)
}

.portal-style #ribbon {
    background: #fff
}

.portal-style #hide-menu i {
    color: #fff !important
}

.portal-style .header-dropdown-list > li > .dropdown-toggle {
    display: block;
    background: rgba(0,0,0,.2);
    padding: 2px 7px 3px;
    border-radius: 3px;
    margin-top: 14px
}

.portal-style .header-search > input[type=text] {
    border-color: #CA854F
}

.portal-style .header-search > button {
    color: #DF9B45
}

.portal-style aside {
    background: #f2f2f2;
    border-right: 2px solid #ccc
}

.portal-style .login-info {
    border-bottom: 1px solid #E2E2E2;
    background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none
}

    .portal-style .login-info span {
        border-bottom: none
    }

    .portal-style .login-info a span {
        color: #444 !important
    }

.portal-style nav > ul > li {
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top,#f9f9f9,#f2f2f2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f9f9f9),to(#f2f2f2));
    background-image: -webkit-linear-gradient(top,#f9f9f9,#f2f2f2);
    background-image: -o-linear-gradient(top,#f9f9f9,#f2f2f2);
    background-image: linear-gradient(to bottom,#f9f9f9,#f2f2f2);
    border-bottom: 1px solid #DFDFDF
}

    .portal-style nav > ul > li > a {
        padding: 12px 10px 12px 11px;
        font-size: 13px
    }

        .portal-style nav > ul > li > a b {
            top: 12px
        }

        .portal-style nav > ul > li > a > i {
            color: #4D8BA5;
            font-size: 20px
        }

    .portal-style nav > ul > li.active > a:before {
        top: 10px !important
    }

    .portal-style nav > ul > li.open {
        border-left: 4px solid #4D8BA5
    }

        .portal-style nav > ul > li.open > a {
            padding-left: 7px
        }

        .portal-style nav > ul > li.open ul li > a, .portal-style nav > ul > li.open > ul > li > a {
            padding-left: 38px
        }

.portal-style nav ul li.active > a:before {
    top: 6px;
    color: #bbb
}

.portal-style nav ul li.active > a {
    font-weight: 700
}

.portal-style nav ul ul {
    background: 0 0
}

    .portal-style nav ul ul li > a {
        font-size: 13px
    }

.portal-style nav ul li a:hover {
    background: rgba(0,0,0,.05) !important
}

.portal-style .superbox-list.active:before {
    color: #0173C7
}

.portal-style .active + .ajax-dropdown {
    -webkit-box-shadow: 1px 14px 16px rgba(61,35,14,.55);
    box-shadow: 1px 14px 16px rgba(61,35,14,.55)
}

.portal-style .dropdown-menu-large .dropdown-header {
    color: #5C391E
}

.portal-style .has-warning .form-control {
    border-color: #c09853 !important
}

.portal-style .has-error .form-control {
    border-color: #b94a48 !important
}

.portal-style .has-success .form-control {
    border-color: #468847 !important
}

.portal-style #shortcut {
    background-color: rgba(25,16,6,.85)
}

.portal-style .ui-chatbox-titlebar {
    background-color: #66605B !important
}

    .portal-style .ui-chatbox-titlebar.ui-state-focus {
        background-color: #4B433C !important
    }

.portal-style #ribbon .breadcrumb, .portal-style #ribbon .breadcrumb a {
    color: #7C7C7C !important
}

    .portal-style #ribbon .breadcrumb li:last-child, .portal-style #ribbon .breadcrumb > .active {
        color: #5F5F5F
    }

.portal-style.fixed-ribbon #ribbon {
    box-shadow: 0 .0625em .3125em rgba(0,0,0,.35)
}

.portal-style #logo-group span#activity, .portal-style .btn-header > :first-child > a {
    background-color: #0173C7;
    background-image: -moz-linear-gradient(top,#0173C7,#2B579A);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#2B579A),to(#2B579A));
    background-image: -webkit-linear-gradient(top,#0173C7,#2B579A);
    background-image: -o-linear-gradient(top,#0173C7,#2B579A);
    background-image: linear-gradient(to bottom,#0173C7,#2B579A);
    color: #fff !important;
    border: 1px solid #2B579A;
    text-shadow: #985813 0 -1px
}

    .portal-style #logo-group span#activity:active, .portal-style #logo-group span#activity:hover, .portal-style .btn-header > :first-child > a:active, .portal-style .btn-header > :first-child > a:hover {
        -webkit-box-shadow: inset 1px 1px 0 #985813,inset -1px -1px 0 #985813;
        -moz-box-shadow: inset 1px 1px 0 #985813,inset -1px -1px 0 #985813;
        box-shadow: inset 1px 1px 0 #985813,inset -1px -1px 0 #985813;
        background-color: #dd7a35;
        background-image: -moz-linear-gradient(top,#dd7a35,#984a13);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#dd7a35),to(#984a13));
        background-image: -webkit-linear-gradient(top,#dd7a35,#984a13);
        background-image: -o-linear-gradient(top,#dd7a35,#984a13);
        background-image: linear-gradient(to bottom,#dd7a35,#984a13)
    }

.portal-style .header-dropdown-list > li > .dropdown-toggle, .portal-style .project-context > :first-child, .portal-style .project-selector {
    color: #fff;
    text-shadow: #985813 0 -1px
}

.portal-style nav ul li a, .portal-style nav ul li.open > a, .portal-style nav ul li.open > a b {
    color: #444 !important
}

.portal-style nav > ul ul li::before, .portal-style nav > ul > li > ul::before {
    border: none
}

.portal-style .page-footer, .portal-style .superbox-show {
    background: #0173C7
}

.portal-style.minified nav > ul > li {
    border-bottom: 1px solid #E9E4E4;
    border-top: 1px solid #FFF
}

    .portal-style.minified nav > ul > li.open ul li > a {
        padding-left: 14px
    }

    .portal-style.minified nav > ul > li > ul, .portal-style.minified nav > ul > li > ul > li > ul > li {
        background-color: rgba(69,69,69,.9)
    }

.portal-style.minified nav ul li a, .portal-style.minified nav ul li.open > a, .portal-style.minified nav ul li.open > a b {
    color: #fff !important
}

.portal-style input:not([type]), .portal-style input[type=color], .portal-style input[type=email], .portal-style input[type=number], .portal-style input[type=password], .portal-style input[type=tel], .portal-style input[type=text], .portal-style input[type=url], .portal-style textarea {
    border-top-color: #a3a3a3;
    border-left-color: #a3a3a3;
    border-bottom-color: #ccc;
    border-right-color: #ccc;
    -webkit-box-shadow: inset 0 1px 0 #d6d6d6;
    -moz-box-shadow: inset 0 1px 0 #d6d6d6;
    box-shadow: inset 0 1px 0 #d6d6d6;
    color: #000
}

.portal-style .select2-container-multi .select2-choices .select2-search-field input, .portal-style .tt-hint {
    box-shadow: none !important;
    border: none !important
}

.portal-style .SmallBox span, .portal-style .bigBox span {
    letter-spacing: 0
}

.portal-style.menu-on-top nav ul ul li > a {
    color: inherit
}

.portal-style.menu-on-top nav ul ul li a {
    padding-left: 10px !important;
    font-size: 13px
}

.portal-style.menu-on-top nav ul ul li:hover > a {
    color: #fff
}

.portal-style.menu-on-top nav ul ul .active > a {
    color: #333 !important
}

.portal-style.menu-on-top nav ul > li > ul {
    left: -2px
}

.portal-style.menu-on-top nav > ul > li > a:hover {
    background: #fff !important
}

.portal-style.menu-on-top nav > ul > li > a:after {
    color: #8AA1B3 !important
}

.portal-style.menu-on-top aside {
    background: inherit
}

    .portal-style.menu-on-top aside#left-panel {
        -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff
    }

        .portal-style.menu-on-top aside#left-panel nav > ul > li {
            border-right: 1px solid #E2E2E2;
            border-left: 1px solid #FFF
        }

            .portal-style.menu-on-top aside#left-panel nav > ul > li > a {
                text-shadow: none !important;
                font-size: 13px;
                padding: 10px 9px !important;
                border: none !important
            }

            .portal-style.menu-on-top aside#left-panel nav > ul > li:hover {
                background: #fff
            }

.portal-style.menu-on-top nav ul ul, .portal-style.menu-on-top nav ul ul ul {
    border-color: #E2E2E2
}

    .portal-style.menu-on-top nav ul ul li a:hover, .portal-style.menu-on-top nav ul ul li:hover > a, .portal-style.menu-on-top nav ul ul ul li a:hover {
        background: rgba(0,0,0,.05)
    }

    .portal-style.menu-on-top nav ul ul li a, .portal-style.menu-on-top nav ul ul ul li a {
        color: #D8DEE5
    }

        .portal-style.menu-on-top nav ul ul li a:hover, .portal-style.menu-on-top nav ul ul ul li a:hover {
            color: #fff
        }

    .portal-style.menu-on-top nav ul ul li:hover > a:after, .portal-style.menu-on-top nav > ul ul > li a:after, .portal-style.menu-on-top nav > ul ul > li a:hover:after, .portal-style.menu-on-top nav > ul > li > a:after {
        color: inherit
    }

    .portal-style.menu-on-top nav ul ul .active > a:hover, .portal-style.menu-on-top nav ul ul li.active:hover > a {
        color: #333 !important
    }

@media (max-width:979px) {
    .portal-style #content {
        padding-left: 5px;
        padding-right: 5px
    }

    .portal-style #ribbon {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        border-radius: 0
    }
}*/



.txt-color-blue {
    color: #57889c !important
}

.txt-color-blueLight {
    color: #92a2a8 !important
}

.txt-color-blueDark {
    color: #4c4f53 !important
}

.txt-color-green {
    color: #356e35 !important
}

.txt-color-greenLight {
    color: #71843f !important
}

.txt-color-greenDark {
    color: #496949 !important
}

.txt-color-red {
    color: #a90329 !important
}

.txt-color-yellow {
    color: #b09b5b !important
}

.txt-color-orange {
    color: #b19a6b !important
}

.txt-color-orangeDark {
    color: #a57225 !important
}

.txt-color-pink {
    color: #ac5287 !important
}

.txt-color-pinkDark {
    color: #a8829f !important
}

.txt-color-purple {
    color: #6e587a !important
}

.txt-color-darken {
    color: #404040 !important
}

.txt-color-lighten {
    color: #d5e7ec !important
}

.txt-color-white {
    color: #fff !important
}

.txt-color-grayDark {
    color: #525252 !important
}

.txt-color-magenta {
    color: #6e3671 !important
}

.txt-color-teal {
    color: #568a89 !important
}

.txt-color-redLight {
    color: #a65858 !important
}

.bg-color-blue {
    background-color: #57889c !important
}

.bg-color-blueLight {
    background-color: #92a2a8 !important
}

.bg-color-blueDark {
    background-color: #4c4f53 !important
}

.bg-color-green {
    background-color: #356e35 !important
}

.bg-color-greenLight {
    background-color: #71843f !important
}

.bg-color-greenDark {
    background-color: #496949 !important
}

.bg-color-red {
    background-color: #a90329 !important
}

.bg-color-yellow {
    background-color: #b09b5b !important
}

.bg-color-orange {
    background-color: #c79121 !important
}

.bg-color-orangeDark {
    background-color: #a57225 !important
}

.bg-color-pink {
    background-color: #ac5287 !important
}

.bg-color-pinkDark {
    background-color: #a8829f !important
}

.bg-color-purple {
    background-color: #6e587a !important
}

.bg-color-darken {
    background-color: #404040 !important
}

.bg-color-lighten {
    background-color: #d5e7ec !important
}

.bg-color-white {
    background-color: #fff !important
}

.bg-color-grayDark {
    background-color: #525252 !important
}

.bg-color-magenta {
    background-color: #6e3671 !important
}

.bg-color-teal {
    background-color: #568a89 !important
}

.bg-color-redLight {
    background-color: #a65858 !important
}
.semi-bold {
    font-weight: 400 !important
}

.ultra-light {
    font-weight: 300 !important
}

.font-xs {
    font-size: 85% !important
}

.font-sm {
    font-size: 95% !important
}

.font-md {
    font-size: 130% !important
}

.font-lg {
    font-size: 160% !important
}

.font-xl {
    font-size: 200% !important
}

.font-400 {
    font-size: 400% !important
}

.m-0, .no-margin {
    margin: 0 !important
}

.margin-top-5 {
    margin-top: 5px !important
}

.margin-top-10 {
    margin-top: 10px !important
}

.margin-bottom-5 {
    margin-bottom: 5px !important
}

.margin-bottom-10 {
    margin-bottom: 10px !important
}

.margin-right-5 {
    margin-right: 5px !important
}

.margin-right-13 {
    margin-right: 13px !important
}

.margin-top-0 {
    margin-top: 0 !important
}

.margin-bottom-0 {
    margin-bottom: 0 !important
}

.no-border, .well[class*=" bg-"].no-border {
    border-width: 0 !important
}

.no-border-transparent {
    border-color: transparent !important
}

.no-border-radius {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0
}

.display-inline {
    display: inline-block !important
}

.display-normal {
    display: inline !important
}

.cursor-pointer {
    cursor: pointer
}

.hover-transparent {
    opacity: .5
}

    .hover-transparent:hover {
        opacity: 1
    }

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 18px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%
}

    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 15px;
        font-size: 18px;
        line-height: 30px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 15px;
        font-size: 24px;
        line-height: 50px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%
    }

.no-padding {
    padding: 0 !important
}

.no-padding-bottom {
    padding-bottom: 0 !important
}

.padding-5 {
    padding: 5px !important
}

.padding-7 {
    padding: 7px !important
}

.padding-10 {
    padding: 10px !important
}

.padding-gutter {
    padding: 13px !important
}

.padding-top-10 {
    padding-top: 10px !important
}

.padding-top-15 {
    padding-top: 15px !important
}

.padding-bottom-10 {
    padding-bottom: 10px !important
}

.padding-bottom-0 {
    padding-bottom: 0 !important
}

.padding-top-0 {
    padding-top: 0 !important
}

.padding-right-5 {
    padding-right: 5px !important
}

.padding-left-5 {
    padding-left: 5px !important
}
.pull-right {
    float: right !Important
}

